<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881966506344-c8a1iu009kqi990qhne1l417c8do221o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881966506344-c8a1iu009kqi990qhne1l417c8do221o</string>
	<key>API_KEY</key>
	<string>AIzaSyAH5bvZP7LwCjelRZa7z11o8b1etLOKKPo</string>
	<key>GCM_SENDER_ID</key>
	<string>881966506344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SeaLions-CanCodeToo.TerminalTalksApp</string>
	<key>PROJECT_ID</key>
	<string>sky-social-78808</string>
	<key>STORAGE_BUCKET</key>
	<string>sky-social-78808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881966506344:ios:1feaef7183b86fcd29f6dd</string>
</dict>
</plist>